{{#each playlists as |playlist|}}
  {{log playlist}}
  <div class="col-sm-3 playlist-box">
    <h2 data-id="{{playlist.id}}" class="my-playlist">{{playlist.title}}</h2>
    <ul data-id="{{playlist.id}}">
      <li><h3>{{#if playlist.id}}
        {{playlist.description}}
      {{else}}
        No description found.
      {{/if}}</h3></li>
      <li>
        <form class="update-playlist">
          <input name="playlist[title]" type="text" placeholder="title">
          <br>
          <input name="playlist[description]" type="text" placeholder="description">
          <br><br>
          <button type="submit" class="btn btn-primary">Update Playlist!</button>
        </form>
      </li>
      <li><button  class="delete-playlist btn btn-danger">Delete Playlist</button></li>
    </ul>
</div>

{{/each}}
